* {
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
     margin: 0;padding: 0;
}


body{
     font-family: montserrat, sans-serif;
     font-weight: bold;
     color: #cacaca;
     background: #0e0024 ;
}

body.active{
     overflow: hidden;
}


.header {
     justify-content: space-between;
     display: flex;
     align-items: center;
     padding: 0 20px;
     height: 10vh;
     background: linear-gradient( #060f44,#02071e);
     position: fixed;
     width: 100%;
     top: 0;
     bottom: 50px;
     display :   ;
    /* overflow-x: auto;
     overflow-y: hidden;
     overflow-wrap: normal;*/
     z-index: 5;
}
.header.active{
     display :none;
}

.logo {
     font-size: 40px;
     color: #327dc6;
}

.logo span {
     color: #1eb689;
}

.nav-bar {
     display: flex;
}

.nav-bar ul {
     display: flex;
     align-items: center;
}

.nav-bar li {
     margin: 0px 20px;
     padding: 5px;
     border-radius: 5px;
}

.nav-bar span{
     color: #ffffff;
     font-size: 20px;
}
.nav-bar span:hover{
     color: #0f36b4;
}

.nav-bar li:hover {
     /*background: #17198a;*/
     transform: scale(0.8); 
     transition :0.3s ease;
     cursor:pointer;
     
}

.hamburger {
     width: 50px;
     height: 40px;
     display: none;
     flex-direction: column;
     justify-content: space-around;
     cursor : pointer;
     
}

.hamburger div {
     background: #7e7e7e;
     width: 40px;
     height: 5px;
     border-radius: 10px;
     transition: 0.3s ease;
     margin: 6px;
     position : relative;
}

/* This is mobile screen width codes placed down*/




@media (max-width: 600px) {
       .hamburger{
            display : block ;
            background: transparent;
            margin-right: -18px;
       }          
       .nav-bar{
          display: block;
          position :fixed;
          top:0;
          background: linear-gradient(#02071e, #140029);
          width: 100%;
          height: 800px;
          left : 100% ;
          border-radius: 7px;
          border-top-right-radius: 0px;
          border: 1px dotted #16144f;
          overflow-y: auto ;
          transition:   ;
          display :none;
     }
     
     .nav-bar ul{
          display : block ;
          align-items: center ;
          width: 70%;
          margin-left: 5rem;
          justify-content: center ;a
          background: blue;
          margin: auto;margin-top: 60px;
     }
     .nav-bar li{
          background:  #000000;
          text-align: center ;
          margin: auto;
          padding: 30px;
          width: 95%;
          margin-top: 16px;: ;
          border-radius: 20px;
          box-shadow: 3px 10px 3px 0px #000020;height: 95px;
          border: 1px dotted #222987;
     }
     .nav-bar li:hover{background: #080e62;}
     .nav-bar a{
          font-size:25px;
          color: #ffffff;
          
     }
     
     .nav-bar.active{
          display : block ;
          left: 6%;
     }
     .hamburger.active div:nth-child(1) {
          top: 30%;
          transform: rotate(47deg);
          background: #273c9a ;
          transition : 0.3s;
     } 
     .hamburger.active div:nth-child(2) {
          opacity :0;
     }     
     .hamburger.active div:nth-child(3) {
          top: -26%;
          transform:  rotate(-47deg);
          background: #273c9a;
         transition : 0.3s ;
     }       
     
}
.contact-page{
     width: 65%;
     height: 27rem;
     background: linear-gradient(#02071e,#060f44, #02071e);
     margin: auto;
     margin-top: 13%;
     display: ;
}
.contact-page.active{
     display: block;
}
.contact-page h1{
     text-align: center;
     margin-top: -40px;
     margin-bottom: 10px;
}
.contact-div{
     margin: auto;
     height: 69%;
     width: 60%;
     background: ;
     display: ;
     border-radius: 10px;
}
.last-div{
     text-align: center;
}
.contact-page button{
     width: 5rem;
     height: 2.5rem;
     margin: 10px;
     border: 1.2px dotted #1574f9;
     background: #000000 ;
     border-radius: 7px;
     color: #fff;
     font-size: 20px;
     box-shadow: 0px 10px 15px 5px #2b2eff;
}
.contact-page button:hover{
     background: ;
     background: #ffffff;
     border: none;
     box-shadow: 0px 10px 15px 5px #ffffff;
     color: #0003ff;
}
.contact-div li{
     height: 20%;
     width: 70%;
     background: ;
     margin-left: 15%;
     margin-bottom: 17px;
     border-radius: 10px;
     box-shadow: 0px 10px 15px 5px #000000;
}
.contact-div li a{
     font-size: 30px;
     height: 100%;
     width: 100%;
     background: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
}
#divider{
     margin-top: -25.5px;
}  
.email-div a{
     font-size: 20px;
     color: #b600cc;
}
#fcon{
     background: #263ce5;
}
#incon{
    background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
}
#whatcon{
     background: #238a4c;
}


@media(max-width:600px){
     .contact-page{
          height:36rem;
          width: 90.5% ;
          margin-top: 5rem;
          margin-bottom: 25px;
     }
     .contact-page h1{
          margin-top: 10px;
     }
     .contact-div{
          width: 95%;
          margin-top: -30px;
     }
     .contact-div li{
          width: 90%;
          margin: auto;
          margin-top: 20px;
          
     }
}
.footer{
     height: 12.3rem;
     width: 100%;
     background: linear-gradient(#060f44, #02071e) ; 
     border: ;
     margin-top: 87px;   
     margin-bottom: -100px;
     
     display: ;
}
.footer section{
     justify-content: center;
     display: block;
}
#by{
     float: right;
     margin-bottom: 20px;
     margin-right: 20px;
}
#copy{
     text-align: center;
     padding: 30px;
}
#thk{
     margin-left: 20px;
}